body {
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;  
}

h1 {
	padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
	color: #494949;/*文字色*/
	border-bottom: solid 3px #74edf4;/*下線*/
  font-size: 50px;
  }
h2 {
  background: #f4f4f4;
	border-bottom: solid 3px #e1e1e1;/*下線*/
  border-radius: 10px;
  }
  .LoginBox {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #000;
    background: #ffffff;
    border-bottom: solid 6px rgba(162, 162, 162, 0.525);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.LoginBox p {
    margin: 0; 
    padding: 0;
}
.LoginText {
  font-size: 30px;
  padding: 1em 0.5em;/*文字の上下 左右の余白*/
}
@import url('https://fonts.googleapis.com/css?family=Roboto');


.stuff {
  width: 25vw;
}
.textBox {
  position: relative;
  width: 100%;
  padding-top: 10px;
  height: 45px;
  display: inline-flex;
  margin-bottom: 3vh;
}
.textBox .text {
  font-weight: 500;
  width: calc(100% - 2vw);
  height: 27px;
  padding-left: 0.5vw;
  background-color: transparent;
  color: black;
  position: absolute;
  bottom: 0px;
  outline: none;
  border-style: solid;
  border-color: #7fd7ff;
  border-width: 0px 0px 2px 0px;
  font-size: 20px;
  -webkit-transition: border-color 0.45s linear;
  transition: border-color 0.45s linear;
}

.textBox > input.text:focus {
  border-color: #72bfcc;
}

.textBox .label {
  opacity: 0.1;
  pointer-events: none;
  z-index: 1;
  color: #C0C0C0;
  position: absolute;
  padding-left: 0.5vw;
  bottom: 3px;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition-property: opacity bottom font-size;
  transition-property: opacity bottom font-size;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
  transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

.textBox .error {
  position: absolute;
  margin-top: 48px;
  width: 100%;
  color: #e74c3c;
  text-align: center;
}

.textBox > input.text:focus ~ .label, .textBox > input.text:not([value=""]) ~ .label {
  opacity: 1;
  z-index: 1;
  bottom: 55%;
  font-size: 12px;
}

.textBox > input.text:focus ~ .label {
  color: #59c5ff;
}

.textBox ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.textBox ::-moz-placeholder { /* Firefox 19+ */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.textBox :-ms-input-placeholder { /* IE 10+ */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.textBox :-moz-placeholder { /* Firefox 18- */
  color: #2B2B2B;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}
.mouse {
  margin: 30px 0px 0px 30px;
  position   : relative;
  text-decoration: underline;
  color: hsl(188, 100%, 50%);
  text-decoration-color: hsl(189, 100%, 50%);
  font-size: 20px;
}
.mouse:hover .word {
  display: inline;
}

/*色は適当です。*/
.word {
  position   : absolute;
  display: none;
  padding: 2px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color:rgb(241, 241, 241);
  width:200px;
  top: 50px;
  left: 0px;
  font-size: 18px;
  text-align: left;
  border-bottom: solid 3px rgba(162, 162, 162, 0.525);
}
